@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body {
    margin: 75px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(images/registrationbg.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.signup-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.signup-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: calc(100% - 22px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.signup-container input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.signup-container input[type="submit"]:hover {
    background-color: #45a049;
}
.signup-container p {
    font-size: 16px;
    color: #666;
}

.signup-container a {
    color: #ffb675;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}
.header {
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}

.header .logoContent {
    display: flex;
    align-items: right;
}

.header .logoContent .logo img {
    height: 4rem;        


}

.header .logoContent .logoName {
    color: var(--black);
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a {
    font-size: 2rem;
    margin-right: 3rem;
    color: var(--black);
    font-weight: bold;
}

.header .navbar a:hover {
    border-bottom: .1rem solid var(--black);
    padding-bottom: .4rem;
}

.header .icon i {
    font-size: 2rem;
    margin-right: 2rem;
    color: var(--black);
    cursor: pointer;
}